@import './null.css';

body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.header{
    margin: 0 0 30px 0;
}
.navigation{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid wheat;
    padding: 16px;
    border-radius: 16px;
    margin: 0 auto 30px;
}
.navigation-item{
    list-style: none;
    border-radius: 16px;
    border: 3px solid wheat;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: black;
    transition: 0.1s linear;
}
.navigation-item:hover{
    transform: translate(0px, 3px);
}
.main-title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin: 0 0 10px 0;
    color: rgb(255, 190, 104);
}
.main-subtitle{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.main-content{
    margin: 0 0 20px 0;
    border: 3px solid wheat;
    padding: 16px;
    border-radius: 16px;
    transition: 0.2s ease-out;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}
.main-content:hover{
    transform: scale(101%, 101%);
}
.main-content h5{
    text-align: end;
    text-decoration: underline;
    font-style: italic;
}
.main-text span{
    margin: 0 0 0 25px;
}
.about-me{
    border: 3px solid wheat;
    padding: 16px;
    border-radius: 16px;
    transition: 0.2s ease-out;
    margin: 0 0 20px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}
.about-me:hover{
    transform: scale(101%, 101%);
}
.footer{
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 0;
    border: 3px solid wheat;
    padding: 16px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.footer-link{
    transition: 0.2s ease-out;
    display: block;
}
.footer-link:hover{
    transform: scale(115%, 115%);
}