@import './null.css';

body{
    background-color: rgb(240, 232, 222);
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/* ------------------------- */
.main-content{
    margin: 0 0 20px 0;
    border: 3px solid wheat;
    padding: 16px;
    border-radius: 16px;
    transition: 0.2s ease-out;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}
.main-content:hover{
    transform: scale(101%, 101%);
}
.main-text span{
    margin: 0 0 0 25px;
}
.about-me{
    border: 3px solid wheat;
    padding: 16px;
    border-radius: 16px;
    transition: 0.2s ease-out;
    margin: 0 0 20px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}
.about-me:hover{
    transform: scale(101%, 101%);
}
